{% extends "base.html" %}
{% block title %} 批量更新服务器属性 {% endblock %}

<!-- UEditor Style -->
{% block stylesheet %}
    {{ form.media }}
    <!-- Toastr style -->
    <link href="/static/skin/css/plugins/toastr/toastr.min.css" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>批量更新服务器属性</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/index.html">Home</a>
            </li>
            <li class="active">
               <a href="/server/list">服务器列表</a>
            </li>
            <li class="active">
                <strong>批量更新服务器属性</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">

        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#">Config option 1</a>
                            </li>
                            <li><a href="#">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form method="POST" class="form-horizontal">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">公司</label>
                            <div class="col-sm-6">
                                <input type="text" name="company" class="form-control" value="{{ sqldata.company }}">
                            </div>
                            <label class="col-sm-0 control-label" style="color:red">*</label>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">部门</label>
                            <div class="col-sm-6">
                                <input type="text" name="department" class="form-control" value="{{ sqldata.department }}">
                            </div>
                            <label class="col-sm-0 control-label" style="color:red">*</label>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">负责人</label>
                            <div class="col-sm-6">
                                <input type="text" name="principal" class="form-control" value="{{ sqldata.principal }}">
                            </div>
                            <label class="col-sm-0 control-label" style="color:red">*</label>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">服务类型</label>
                            <div class="col-sm-6">
                                <input type="text" name="servicetype" class="form-control" value="{{ sqldata.servicetype }}">
                            </div>
                            <label class="col-sm-0 control-label" style="color:red">*</label>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">保修年限</label>
                            <div class="col-sm-6">
                                <input type="text" name="guarantee" class="form-control" value="{{ sqldata.guarantee }}">
                            </div>
                            <label class="col-sm-0 control-label" style="color:red">*</label>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">购买日期</label>
                            <div class="col-sm-6">
                                <input type="text" name="buydate" class="form-control" value="{{ sqldata.buydate }}">
                            </div>
                            <label class="col-sm-0 control-label" style="color:red">*</label>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">操作员</label>
                            <div class="col-sm-6">
                                <input type="text" disabled="disabled" name="user" class="form-control" value="{{ request.user.username }}">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">状态</label>
                            <div class="col-sm-6">
                                <select class="form-control m-b" name="status">
                                    {% for key,value in status.items %}
                                        {% if key == sqldata.status %}
                                            <option selected="selected" value={{ key }}>{{ value }}</option>
                                        {% else %}
                                            <option value={{ key }}>{{ value }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">备注</label>
                            <div class="col-sm-6">
                                <div class="edit-area">
                                    <textarea name="comment" rows="6" cols="69">{{ sqldata.comment }}</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-white" type="submit">取消</button>
                                <button class="btn btn-primary" type="submit">保存</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
    <!-- Toastr script -->
    <script src="/static/skin/js/plugins/toastr/toastr.min.js"></script>

    <script>

        $(document).ready(function() {
            setTimeout(function() {
                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "progressBar": true,
                    "preventDuplicates": false,
                    "positionClass": "toast-top-right",
                    "onclick": null,
                    "showDuration": "400",
                    "hideDuration": "1000",
                    "timeOut": "60000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                };

                {% autoescape off %} {{ mynotice }} {% endautoescape %}

            }, 1300);

        });

    </script>
{% endblock %}
