{% extends "base.html" %}

{% block title %} 文章查看 {% endblock %}

{% block content %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>文章查看</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/index.html">Home</a>
            </li>
            <li class="active">
               <a href="/news/article/list"><strong>文章列表</strong></a>
            </li>
            <li>
               文章查看
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content  animated fadeInRight article">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="pull-right">
                        {% for key,column in columns_dict.items %}

                            <a href="/news/article/list/?s={{ column }}"><button class="btn btn-white btn-xs" type="button">{{ column }}</button></a>

                        {% endfor %}
                    </div>
                    <div class="text-center article-title">
                    <span class="text-muted"><i class="fa fa-clock-o"></i> {{ sqldata.pub_date }}</span>
                        <h1>
                            {{ sqldata.title }}
                        </h1>
                    </div>
                    <p>
                        {%autoescape off%}
                        {{ sqldata.content }}
                        {% endautoescape %}
                    </p>

                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                                <h5>Tags:</h5>
                                <a href="/news/article/list/?s={% load mytags %}{{ columns_dict|key:sqldata.column_id }}"><button class="btn btn-primary btn-xs" type="button">{% load mytags %} {{ columns_dict|key:sqldata.column_id }}</button></a>
                        </div>
                        <div class="col-md-6">
                            <div class="small text-right">
                                <h5>Stats:</h5>
                                <i class="fa fa-eye"> </i> {{ sqldata.count }} 阅读
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}