{% extends "base.html" %}
{% block title %} 仪表盘 {% endblock %}

<!-- UEditor Style -->
{% block stylesheet %}

{% endblock %}
{% block content %}
    <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>图表</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="/index.html">Home</a>
                    </li>
                    <li class="active">
                        <strong>图表</strong>
                    </li>
                </ol>
            </div>
            <div class="col-lg-2">

            </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">

        <div class="row">

            <div class="col-lg-3">
                <div class="ibox">
                    <div class="ibox-content">
                        <h5>CPU使用量</h5>
                        <h2>14%</h2>
                        <div class="progress progress-mini">
                            <div style="width: 14%;" class="progress-bar"></div>
                        </div>

                        <div class="m-t-sm small">当前使用百分比.</div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="ibox">
                    <div class="ibox-content">
                        <h5>硬盘使用量</h5>
                        <h2>50%</h2>
                        <div class="progress progress-mini">
                            <div style="width: 50%;" class="progress-bar"></div>
                        </div>

                        <div class="m-t-sm small">当前使用百分比.</div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="ibox">
                    <div class="ibox-content">
                        <h5>内存使用量</h5>
                        <h2>65%</h2>
                        <div class="progress progress-mini">
                            <div style="width: 68%;" class="progress-bar progress-bar-danger"></div>
                        </div>

                        <div class="m-t-sm small">当前使用百分比.</div>
                    </div>
                </div>
            </div>



            <div class="col-lg-3">
                <div class="ibox">
                    <div class="ibox-content">
                        <h5>服务器负载</h5>
                        <h2>0.12, 0.04, 0.01</h2>
                        <div class="progress progress-mini">
                            <div style="width: 0%;" class="progress-bar progress-bar-danger"></div>
                        </div>

                        <div class="m-t-sm small">当前负载.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="ibox">
                    <div class="ibox-content">
                        <h5>应用运维</h5>
                        <table class="table table-stripped small m-t-md">
                            <tbody>
                                <tr>
                                    <td class="no-borders">
                                        <i class="fa fa-circle text-navy"></i>
                                    </td>
                                    <td  class="no-borders">
                                        Nginx版本隐藏方法
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="fa fa-circle text-navy"></i>
                                    </td>
                                    <td>
                                        Mysql的安装和配置
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="fa fa-circle text-navy"></i>
                                    </td>
                                    <td>
                                        Redis常见问题分析
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="ibox">
                    <div class="ibox-content">
                        <h5>机房运维</h5>
                        <table class="table table-stripped small m-t-md">
                            <tbody>
                                <tr>
                                    <td class="no-borders">
                                        <i class="fa fa-circle text-navy"></i>
                                    </td>
                                    <td  class="no-borders">
                                        服务器上线流程
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="fa fa-circle text-navy"></i>
                                    </td>
                                    <td>
                                        Cobbler批量装机方法
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="fa fa-circle text-navy"></i>
                                    </td>
                                    <td>
                                        硬件保修流程
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="ibox">
                    <div class="ibox-content">
                        <h5>网络运维</h5>
                        <table class="table table-stripped small m-t-md">
                            <tbody>
                                <tr>
                                    <td class="no-borders">
                                        <i class="fa fa-circle text-danger"></i>
                                    </td>
                                    <td  class="no-borders">
                                        网络故障实况分析
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="fa fa-circle text-danger"></i>
                                    </td>
                                    <td>
                                        Vlan配置方法
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="fa fa-circle text-danger"></i>
                                    </td>
                                    <td>
                                        网络流量分析
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="ibox">
                    <div class="ibox-content">
                        <h5>运维开发</h5>
                        <table class="table table-stripped small m-t-md">
                            <tbody>
                                <tr>
                                    <td class="no-borders">
                                        <i class="fa fa-circle text-danger"></i>
                                    </td>
                                    <td  class="no-borders">
                                        Django开发教程
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="fa fa-circle text-danger"></i>
                                    </td>
                                    <td>
                                        Python常见系统操作命令
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="fa fa-circle text-danger"></i>
                                    </td>
                                    <td>
                                        DevOPS发展之路
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>柱状图</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="#">设置 1</a>
                                </li>
                                <li><a href="#">设置 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                            <div class="flot-chart">
                                <div class="flot-chart-content" id="flot-bar-chart"></div>
                            </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>折线图</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="#">设置 1</a>
                                </li>
                                <li><a href="#">设置 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">

                        <div class="flot-chart">
                            <div class="flot-chart-content" id="flot-line-chart"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>饼图</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="#">设置 1</a>
                                </li>
                                <li><a href="#">设置 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="flot-chart">
                            <div class="flot-chart-pie-content" id="flot-pie-chart"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>实时图</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="#">设置 1</a>
                                </li>
                                <li><a href="#">设置 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">

                        <div class="flot-chart">
                            <div class="flot-chart-content" id="flot-line-chart-moving"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>组合曲线图 </h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="#">设置 1</a>
                                </li>
                                <li><a href="#">设置 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="flot-chart">
                            <div class="flot-chart-content" id="flot-line-chart-multi"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-lg-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>曲线图
                            <small>自定义颜色</small>
                        </h5>
                    </div>
                    <div class="ibox-content">
                        <div>
                            <canvas id="lineChart" height="140"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>柱状图</h5>
                    </div>
                    <div class="ibox-content">
                        <div>
                            <canvas id="barChart" height="140"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>极线图</h5>

                    </div>
                    <div class="ibox-content">
                        <div class="text-center">
                            <canvas id="polarChart" height="140"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>环形图</h5>

                    </div>
                    <div class="ibox-content">
                        <div>
                            <canvas id="doughnutChart" height="140"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>雷达图</h5>
                    </div>
                    <div class="ibox-content">
                        <div>
                            <canvas id="radarChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block script %}
    <!-- ChartJS-->
    <script src="/static/skin/js/plugins/chartJs/Chart.min.js"></script>
    <script src="/static/skin/js/demo/chartjs-demo.js"></script>

    <!-- Flot -->
    <script src="/static/skin/js/plugins/flot/jquery.flot.js"></script>
    <script src="/static/skin/js/plugins/flot/jquery.flot.tooltip.min.js"></script>
    <script src="/static/skin/js/plugins/flot/jquery.flot.resize.js"></script>
    <script src="/static/skin/js/plugins/flot/jquery.flot.pie.js"></script>
    <script src="/static/skin/js/plugins/flot/jquery.flot.time.js"></script>

    <!-- Flot demo data -->
    <script src="/static/skin/js/demo/flot-demo.js"></script>

{% endblock %}