{% extends "base.html" %}
{% block title %} 仪表盘 {% endblock %}

<!-- UEditor Style -->
{% block stylesheet %}
    <!-- Sweet Alert -->
    <link href="/static/skin/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>权限提示</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="/index.html">Home</a>
                    </li>
                    <li class="active">
                        <strong>无权访问</strong>
                    </li>
                </ol>
            </div>
            <div class="col-lg-2">

            </div>
        </div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content text-center p-md">

                    <br /><br /><br /><br /><br /><br /><br /><br /><br />
                    <br /><br /><br /><br /><br /><br /><br /><br /><br />
                    <br /><br /><br /><br /><br /><br /><br /><br /><br />
                    <br /><br /><br /><br /><br /><br /><br /><br /><br />

                </div>
            </div>
        </div>
    </div>
</div>
    {% block script %}
        <!-- ChartJS-->
        <script src="/static/skin/js/plugins/chartJs/Chart.min.js"></script>
        <script src="/static/skin/js/demo/chartjs-demo.js"></script>
        <!-- Sweet alert -->
        <script src="/static/skin/js/plugins/sweetalert/sweetalert.min.js"></script>
        <script>
                swal({
                    title: "访问受限",
                    text: "抱歉，您无权操作 “{{ info }}” 功能！\n请联系管理员授权",
                    type: "error",

                },function() {
                    history.go(-1);
                });

        </script>
    {% endblock %}
{% endblock %}