{% extends "base.html" %}

{% block title %} 服务器详情 {% endblock %}

<!-- UEditor Style -->
{% block stylesheet %}
    <!-- FooTable -->
    <link href="/static/skin/css/plugins/footable/footable.core.css" rel="stylesheet">

    <link href="/static/skin/css/plugins/datapicker/datepicker3.css" rel="stylesheet">

    <!-- Toastr style -->
    <link href="/static/skin/css/plugins/toastr/toastr.min.css" rel="stylesheet">

    <!-- Sweet Alert -->
    <link href="/static/skin/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">

    <!-- Data Table -->
    <link href="/static/skin/css/plugins/dataTables/datatables.min.css" rel="stylesheet">

    <!-- iCheck -->
    <link href="/static/skin/css/plugins/iCheck/custom.css" rel="stylesheet">

{% endblock %}
{% block content %}
    <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>服务器详情</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/index.html">Home</a>
            </li>
            <li>
               <a href="/server/list">服务器列表</a>
            </li>
            <li class="active">
                <strong>服务器详情</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight ecommerce">
    <div class="ibox-title">
            <h5>服务器详情</h5>
            <div class="ibox-tools">

            </div>
    </div>
    <div class="ibox-content">

        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th colspan="4" style="font-size:20px;background-color: #E9E9EC">
                        服务器基本信息
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th width="100">序列号:</th>
                    <td>SANNA2A</td>
                    <th width="100">品牌型号:</th>
                    <td>Dell R730</td>
                </tr>

                <tr>
                    <th>IP:</th>
                    <td>192.168.1.100</td>
                    <th>管理IP:</th>
                    <td>172.16.1.100</td>
                </tr>

                <tr>
                    <th>系统:</th>
                    <td>CentOS release 6.4 (Santiago)</td>
                    <th>CPU:</th>
                    <td>Intel(R) Xeon(R) CPU E5-2630 v2 @ 2.60GHz * 24</td>
                </tr>

                <tr>
                    <th>位置:</th>
                    <td>酒仙桥/SA-1/1</td>
                    <th>状态:</th>
                    <td>测试</td>
                </tr>

                <tr>
                    <th>公司:</th>
                    <td>拉手网</td>
                    <th>部门:</th>
                    <td>研发十部</td>
                </tr>

                <tr>
                    <th>负责人:</th>
                    <td>马海杰</td>
                    <th>服务类型:</th>
                    <td>资产系统测试</td>
                </tr>

                <tr>
                    <th>保修年限:</th>
                    <td>3年</td>
                    <th>操作员:</th>
                    <td>mahaijie</td>
                </tr>

                <tr>
                    <th>购买日期:</th>
                    <td>2016-06-23</td>
                    <th>更新日期:</th>
                    <td>2016-06-23 6:00</td>
                </tr>

                <tr>
                    <th>备注:</th>
                    <td colspan="3">拉手网</td>

                </tr>


                </tbody>
            </table>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th colspan="5" style="font-size:20px;background-color: #E9E9EC">
                        内存信息
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>容量</th>
                    <th>类型</th>
                    <th>速率</th>
                    <th>槽位</th>
                    <th>序列号</th>
                </tr>

                <tr>
                    <td>8G</td>
                    <td>DDR3</td>
                    <td>1600 MHz</td>
                    <td>1</td>
                    <td>201DD20F</td>
                </tr>
                <tr>
                    <td>8G</td>
                    <td>DDR3</td>
                    <td>1600 MHz</td>
                    <td>1</td>
                    <td>201DD20F</td>
                </tr>
                <tr>
                    <td>8G</td>
                    <td>DDR3</td>
                    <td>1600 MHz</td>
                    <td>1</td>
                    <td>201DD20F</td>
                </tr>
                <tr>
                    <td>8G</td>
                    <td>DDR3</td>
                    <td>1600 MHz</td>
                    <td>1</td>
                    <td>201DD20F</td>
                </tr>
                <tr>
                    <td>8G</td>
                    <td>DDR3</td>
                    <td>1600 MHz</td>
                    <td>1</td>
                    <td>201DD20F</td>
                </tr>
                <tr>
                    <td>8G</td>
                    <td>DDR3</td>
                    <td>1600 MHz</td>
                    <td>1</td>
                    <td>201DD20F</td>
                </tr>

                </tbody>
            </table>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th colspan="5" style="font-size:20px;background-color: #E9E9EC">
                        硬盘信息
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>容量</th>
                    <th>类型</th>
                    <th>槽位</th>
                    <th>序列号</th>
                </tr>

                <tr>
                    <td>500G</td>
                    <td>HDD</td>
                    <td>0:1:1</td>
                    <td>201DD20F</td>
                </tr>
                <tr>
                    <td>500G</td>
                    <td>HDD</td>
                    <td>0:1:1</td>
                    <td>201DD20F</td>
                </tr>
                <tr>
                    <td>500G</td>
                    <td>HDD</td>
                    <td>0:1:1</td>
                    <td>201DD20F</td>
                </tr>
                <tr>
                    <td>500G</td>
                    <td>HDD</td>
                    <td>0:1:1</td>
                    <td>201DD20F</td>
                </tr>

                </tbody>
            </table>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th colspan="9" style="font-size:20px;background-color: #E9E9EC">
                        变更日志
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>ID</th>
                    <th>序列号</th>
                    <th>动作</th>
                    <th>修改之前</th>
                    <th>修改之后</th>
                    <th>备注</th>
                    <th>操作员</th>
                    <th>更新日期</th>
                    <th>审核</th>
                </tr>

                <tr style="background-color: #77ee77">
                    <td>1</td>
                    <td>201DD20F</td>
                    <td>添加内存</td>
                    <td>64G</td>
                    <td>128G</td>
                    <td>自动</td>
                    <td>system</td>
                    <td>2016-06-23 6:00</td>
                    <td>面审</td>
                </tr>

                <tr style="background-color: #77ee77">
                    <td>2</td>
                    <td>201DD20F</td>
                    <td>添加内存</td>
                    <td>64G</td>
                    <td>128G</td>
                    <td>自动</td>
                    <td>system</td>
                    <td>2016-06-23 6:00</td>
                    <td>面审</td>
                </tr>

                <tr style="background-color: #77ee77">
                    <td>3</td>
                    <td>201DD20F</td>
                    <td>添加内存</td>
                    <td>64G</td>
                    <td>128G</td>
                    <td>自动</td>
                    <td>system</td>
                    <td>2016-06-23 6:00</td>
                    <td>面审</td>
                </tr>

                <tr style="background-color: #77ee77">
                    <td>4</td>
                    <td>201DD20F</td>
                    <td>添加内存</td>
                    <td>64G</td>
                    <td>128G</td>
                    <td>自动</td>
                    <td>system</td>
                    <td>2016-06-23 6:00</td>
                    <td>面审</td>
                </tr>

                </tbody>
            </table>
        </div>

    </div>

</div>
{% endblock %}

{% block script %}

    <!-- Data picker -->
    <script src="/static/skin/js/plugins/datapicker/bootstrap-datepicker.js"></script>

    <!-- FooTable -->
    <script src="/static/skin/js/plugins/footable/footable.all.min.js"></script>

    <!-- Toastr script -->
    <script src="/static/skin/js/plugins/toastr/toastr.min.js"></script>

    <!-- Sweet alert -->
    <script src="/static/skin/js/plugins/sweetalert/sweetalert.min.js"></script>

    <!-- Delete Confirm -->
    <script src="/static/skin/js/plugins/delete-confirm/confirmdel.js"></script>

    <!-- Data table -->
    <script src="/static/skin/js/plugins/dataTables/datatables.min.js"></script>

    <!-- iCheck -->
    <script src="/static/skin/js/plugins/iCheck/icheck.min.js"></script>

    <script>
    /*iCheck*/
        $(document).ready(function(){
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });
    </script>


    <!-- Page-Level Scripts -->
    <script>
        $(document).ready(function() {

            $('.footable').footable();

            $('#date_added').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true
            });

            $('#date_modified').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true
            });

        });

    </script>

    <script>

        $(document).ready(function() {
            setTimeout(function() {
                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "progressBar": true,
                    "preventDuplicates": false,
                    "positionClass": "toast-top-right",
                    "onclick": null,
                    "showDuration": "100",
                    "hideDuration": "1000",
                    "timeOut": "6000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                };

                {% autoescape off %} {{ mynotice }} {% endautoescape %}

            }, 1300);

        });

    </script>

    <!-- Page-Level Scripts -->
    <script>

        /*获取url中的get参数,dataTables过滤搜索内容*/
        (function($) {
            $.extend({
            urlGet:function()
            {
                var aQuery = window.location.href.split("?");  //取得Get参数
                var aGET = new Array();
                if(aQuery.length > 1)
                {
                    var aBuf = aQuery[1].split("&");
                    for(var i=0, iLoop = aBuf.length; i<iLoop; i++)
                    {
                        var aTmp = aBuf[i].split("=");  //分离key与Value
                        aGET[aTmp[0]] = aTmp[1];
                    }
                 }
                 return aGET;
             }
            })
            })(jQuery);
        var GET = $.urlGet();

        if(GET['search'] != null) {
            var search = decodeURI(GET['search']);
        }else{
            search="";
        }

        $(document).ready(function(){
            $('.dataTables-config').DataTable({
                "dom": '<"html5buttons"B>lTfgtip',
                "iDisplayLength": 10,
                "lengthMenu": [[10,25,50,100,500,1000,-1], [10,25,50,100,500,1000,"all"]],
                "sPaginationType": "full_numbers",
                "language": {
                    url:'/static/skin/js/plugins/dataTables/Chinese.json'
                },
                /*初始化搜索，所有字段检索*/

                "search":{
                    "search":search,
                },

                /*初始化搜索，按列检索，注意不需要设置过滤的列也需要用null占位*/
                /*
                "searchCols": [
                    null,
                    null,
                    { "search": "My filter" },
                ],*/
                "buttons": [
                    {extend: 'copy'},
                    //{extend: 'csv'},
                    {extend: 'excel'},
                    //{extend: 'pdf', title: 'ExampleFile'},

                    {extend: 'print',
                     customize: function (win){
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                    .addClass('compact')
                                    .css('font-size', 'inherit');
                        }
                    }
                ]

            });


        });

    </script>


{% endblock %}
